@layer baseline {
  strong {
    font-weight: 600;
  }

  ol {
    list-style: circle;
    padding-left: 1em;
  }

  p {
    margin: var(--external-margin) 0;
  }

  button, .pickable-group label {
    --_button-bg: hsl(0, 0%, 80%);
    --_button-color: hsl(0, 0%, 0%);
    --_button-border-color: var(--button-color, var(--_button-color));
    background-color: var(--button-bg, var(--_button-bg));
    color: var(--button-color, var(--_button-color));
    border: 1px solid var(--button-border-color, var(--_button-border-color));

    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 11px;
    padding: var(--internal-margin);

    &[disabled] {
      --button-bg: white;
      --button-color: hsl(0, 0%, 60%);
      --button-border-color: hsl(0, 0%, 80%);
    }

    &:has(> .icon) {
      display: flex;
      align-items: center;

      > .icon {
        width: 25%;
        font-size: 200%;

        + * {
          flex-grow: 1;
        }
      }
    }

    > small {
      display: block;
      margin-top: var(--internal-margin);
      font-size: 80%;
      opacity: .8;
    }
  }

  code {
    font-family: monospace;
    font-size: 80%;
    color: darkred;

    & > pre {
      border: 1px solid currentColor;
      background-color: rgb(255, 235, 235);
      padding: var(--internal-margin);
      margin: var(--external-margin) 0;
    }
  }

  pre {
    white-space: pre;
  }
}
