@layer baseline {
  strong {
    font-weight: 600;
  }

  ol {
    list-style: circle;
    padding-left: 1em;
  }

  p {
    margin: var(--external-margin) 0;
  }

  button {
    --_button-bg: hsl(0, 0%, 80%);
    --_button-color: hsl(0, 0%, 0%);
    --_button-border-color: var(--button-color, var(--_button-color));
    background-color: var(--button-bg, var(--_button-bg));
    color: var(--button-color, var(--_button-color));
    border: 1px solid var(--button-border-color, var(--_button-border-color));
    font-weight: 600;
    padding: var(--internal-margin);

    &[disabled] {
      --button-bg: white;
      --button-color: hsl(0, 0%, 60%);
      --button-border-color: hsl(0, 0%, 80%);
    }

    &:has(> .icon) {
      display: flex;
      align-items: center;

      > .icon {
        width: 25%;
        font-size: 200%;
      }
    }

    > small {
      display: block;
      margin-top: var(--internal-margin);
      font-size: 80%;
      opacity: .8;
    }
  }
}
