@layer baseline {
  /* @link https://utopia.fyi/type/calculator?c=320,12,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  :root {
    --step--2: clamp(0.5206rem, 0.2985rem + 0.4442vw, 0.64rem);
    --step--1: clamp(0.625rem, 0.2994rem + 0.6512vw, 0.8rem);
    --step-0: clamp(0.75rem, 0.2849rem + 0.9302vw, 1rem);
    --step-1: clamp(0.9rem, 0.2488rem + 1.3023vw, 1.25rem);
    --step-2: clamp(1.08rem, 0.1823rem + 1.7953vw, 1.5625rem);
    --step-3: clamp(1.2963rem, 0.0742rem + 2.4442vw, 1.9531rem);
    --step-4: clamp(1.555rem, -0.0938rem + 3.2977vw, 2.4413rem);
    --step-5: clamp(1.8663rem, -0.3396rem + 4.4116vw, 3.0519rem);

    --text-color: black;
    --text-color-muted: hsl(0, 0%, 35%);

    font-size: var(--step-0);
    color: var(--text-color);
  }

  a {
    &.icon-link {
      display: inline-block;
      text-decoration: none;
      transition: scale 200ms;

      &:hover {
        scale: 1.5;
      }
    }
  }

  strong {
    font-weight: 600;
  }

  ol {
    list-style: circle;
    padding-left: 1em;
  }

  dl {
    dt { font-weight: 600; }

    &.dl-horizontal {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: var(--internal-margin);

      dt { grid-column: 1 }
      dd { grid-column: 2 }
    }
  }

  p {
    margin: var(--external-margin) 0;
  }

  button, .btn {
    --_button-bg: hsl(0, 0%, 90%);
    --_button-color: var(--text-color);
    --_button-border-color: var(--button-color, var(--_button-color));
    background-color: var(--button-bg, var(--_button-bg));
    color: var(--button-color, var(--_button-color));
    border: 1px solid var(--button-border-color, var(--_button-border-color));

    display: inline-block;
    font-weight: 600;
    font-size: var(--step--1);
    padding: var(--internal-margin);

    &[disabled], &.looks-disabled {
      --button-bg: white;
      --button-color: var(--text-color-muted);
      --button-border-color: var(--text-color-muted);
    }

    &:has(> .icon) {
      display: grid;
      grid-template-columns: 4ch auto;
      align-items: center;
      justify-items: center;

      > .icon {
        width: 2ch;
        font-size: var(--step-3);

        + * {
          flex-grow: 1;
        }
      }
    }

    > small {
      display: block;
      margin-top: var(--internal-margin);
      font-size: var(--step--1);
      opacity: .8;
    }
  }

  code {
    font-family: monospace;
    font-size: var(--step--1);
    color: darkred;

    & > pre {
      border: 1px solid currentColor;
      background-color: rgb(255, 235, 235);
      padding: var(--internal-margin);
      margin: var(--external-margin) 0;
      max-width: 50vw;
      overflow: scroll;
    }
  }

  pre {
    white-space: pre;
  }

  @keyframes internal-error-pulse {
      0% {background-color: #a30503;}
    100% {background-color: #ff0400;}
  }


  .internal-error {
    display: inline-block;
    color: white;
    animation: 1s infinite alternate internal-error-pulse;
    padding: var(--internal-margin);
  }

  .list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list-inline {
    display: flex;
    flex-wrap: wrap;
  }
}
