@layer components {
  :root {
    --color-leadership-activity-bg: orange;
    --color-civic-activity-bg: lightblue;
    --color-event-bg: red;

    --color-critical-success-bg: lch(65% 55 185);
    --color-success-bg: lch(65% 55 150);
    --color-failure-bg: lch(65% 55 0);
    --color-critical-failure-bg: lch(65% 55 300);
  }

  domain-sheet {
    position: sticky;
    top: 0;
    padding: var(--internal-margin);
    padding-top: 0;
    max-height: 100vh;
    overflow: hidden;

    @media screen {
      border-right: 3px solid black;
    }

    .domain-name {
      display: flex;

      .domain-data-management {
        margin-left: auto;
      }
    }

    h3, h4, h5, h6 {
      --header-bg: black;
      background: var(--header-bg);
      border-bottom: 1px solid var(--header-bg);
      padding: var(--internal-margin);
      margin: var(--internal-margin) calc(-1 * var(--internal-margin));
      font-size: 80%;
    }

    h3, h4, h5 {
      color: white;
    }

    h6 {
      --header-bg: hsl(0, 0%, 90%);
    }

    h3 {
      margin-top: 0;
    }

    .abilities, .stats {
      font-size: 120%;
      margin-bottom: var(--internal-margin);
      padding: var(--internal-margin) 0;
    }

    .abilities {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .stats {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .ability-roll {
      margin-right: var(--external-margin);
    }

    input[type="number"] {
      max-width: 5em;
      text-align: end;
    }
  }

  @media (width < 1250px) {
    domain-sheet .abilities {
      label { display: inline-grid; margin-bottom: var(--external-margin) }
    }
  }

  @media print {
    .ability-roll {
      display: none;
    }

    input {
      border: none;
      width: 2em;
    }

    domain-sheet {
      .abilities, .stats, .leaders, .settlements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--external-margin);
        margin-bottom: 0;
        padding: 0;
      }

      input[type="number"] {
        text-align: start;

        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    domain-activity-log {
      > .activities { display: none; }
    }
  }

  domain-activity-log {
    padding: var(--external-margin);
    padding-left: 0;

    > .status-banner {
      font-size: 200%;
      background-color: var(--color-event-bg);
      padding: var(--internal-margin);

      &:empty {
        display: none;
      }
    }

    > .activities {
      margin-bottom: var(--external-margin);

      > .activities-list {
        display: grid;
        align-items: flex-end;
        grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
        gap: var(--internal-margin);
        align-items: stretch;

        + h4 { margin-top: var(--external-margin) }
      }

      h4 {
        font-weight: 600;
      }

      > .leadership-activities {
        --button-bg: var(--color-leadership-activity-bg);
      }

      > .civic-activities {
        --button-bg: var(--color-civic-activity-bg);
      }

      > .end-turn {
        margin-top: var(--external-margin);
      }

      > .end-turn-pending {
        --button-bg: white;
      }
      
      > .end-turn-ready {
        --button-bg: green;
      }
    }

    > .entries {
      > .turn-marker {
        display: flex;
        background: linear-gradient(to bottom, transparent, transparent 45%, grey 50%, transparent 55%, transparent);
        justify-content: center;
        margin: calc(2 * var(--external-margin)) 0;

        > .turn-name {
          background: white;
          padding: var(--internal-margin);
        }
      }

      > .entry {
        --bg: grey;
        --outcome-bg: var(--bg);
        --description-bg: lightgrey;

        &[data-type="leadership-activity"] { --bg: var(--color-leadership-activity-bg); }
        &[data-type="civic-activity"] { --bg: var(--color-civic-activity-bg); }
        &.event { --bg: var(--color-event-bg) }

        &[data-outcome="critical-success"] { --outcome-bg: var(--color-critical-success-bg); }
        &[data-outcome="success"] { --outcome-bg: var(--color-success-bg); }
        &[data-outcome="failure"] { --outcome-bg: var(--color-failure-bg); }
        &[data-outcome="critical-failure"] { --outcome-bg: var(--color-critical-failure-bg); }

        border: 3px solid var(--bg);
        border-top-color: var(--outcome-bg);
        border-left-color: var(--outcome-bg);
        display: grid;
        grid-template-areas:
          "header     "
          "description"
          "body       ";

        &:has(> .icon) {
          grid-template-columns: 1fr 4rem;
          grid-template-areas:
            "header      icon"
            "description icon"
            "body        body";
        }

        > header {
          grid-area: header;
          display: flex;
          background: linear-gradient(140deg, var(--outcome-bg), var(--bg));
          border-bottom: 1px solid var(--bg);
          padding: var(--internal-margin);
        }

        .cancel-activity {
          margin-left: auto;
        }
        &:has(.picked) .cancel-activity { display: none }

        > .icon {
          grid-area: icon;
          font-size: 300%;
          background: var(--bg);
          padding: var(--internal-margin);
        }

        > .description {
          grid-area: description;
          background: var(--description-bg);
          border-bottom: 1px solid var(--description-bg);
          padding: var(--internal-margin);
          font-size: 80%;
        }

        > .body {
          grid-area: body;
          padding: var(--internal-margin);

          h1, h2, h3, h4, h5, h6 {
            background: var(--description-bg);
            border-bottom: 1px solid var(--description-bg);
            padding: var(--internal-margin);
            margin: var(--external-margin) calc(-1 * var(--internal-margin));
            font-size: 80%;
          }
        }

        + .entry {
          margin-top: var(--external-margin);
        }
      }
    }
  }

  .diff {
    margin-left: var(--internal-margin);
    &::before { content: "("}
    &::after { content: ")"}

    &.diff-negative { color: red }
    &.diff-positive { color: green }
  }

  .activities-summary {
    display: flex;
    flex-wrap: wrap;
  }

  .activity-summary {
    --bg: lightgray;
    --outcome-bg: var(--bg);
    --type-bg: var(--bg);

    padding: var(--internal-margin);
    background:  var(--bg);
    border-top: var(--internal-margin) solid var(--outcome-bg);
    border-bottom: var(--internal-margin) solid var(--type-bg);

    &[data-outcome="critical-success"] { --outcome-bg: var(--color-critical-success-bg); }
    &[data-outcome="success"] { --outcome-bg: var(--color-success-bg); }
    &[data-outcome="failure"] { --outcome-bg: var(--color-failure-bg); }
    &[data-outcome="critical-failure"] { --outcome-bg: var(--color-critical-failure-bg); }

    &[data-type="leadership-activity"] { --type-bg: var(--color-leadership-activity-bg); }
    &[data-type="civic-activity"] { --type-bg: var(--color-civic-activity-bg); }
  }

  button .modifier {
    padding-left: var(--internal-margin);
    opacity: .6;
  }

  button.picked, button.pickable:hover {
    --button-bg: lch(86% 55 190);
  }

  .outcome {
    &.picked, &:hover {
      &.outcome-critical-success { --button-bg: var(--color-critical-success-bg); }
      &.outcome-success { --button-bg: var(--color-success-bg); }
      &.outcome-failure { --button-bg: var(--color-failure-bg); }
      &.outcome-critical-failure { --button-bg: var(--color-critical-failure-bg); }
    }
  }

  .pickable-group {
    &:has(.picked) {
      .pickable {
        pointer-events: none;
      }

      .pickable:not(.picked) {
        --button-bg: white;
        --button-color: hsl(0, 0%, 60%);
        --button-border-color: hsl(0, 0%, 80%);
      }
    }
  }
}
