@layer structure {
  :root {
    --external-margin: 1rem;
    --internal-margin: .5rem;
    --small-margin: .25rem;
  }

  * {
    box-sizing: border-box;
  }

  body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--external-margin);

    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  @media (width > 1000px) {
    body {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  @media print {
    body {
      grid-template-columns: 1fr;
    }
  }
}
