@layer utilities {
  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  .hidden {
    display: none;
  }

  .debug {
    display: var(--debug-display, none);
  }

  .metadata {
    font-size: var(--step--1);
    color: hsl(0, 0%, 35%);
  }

  dl.dl-oneline {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3em, 1fr));

    dt { text-align: end; grid-column: span 2 }
    dt::after { content: ":"; padding-inline-end: var(--internal-margin); }
  }

  .animation---buldge {
    animation: 1s bulge;
  }

  @keyframes bulge {
    0%   { transform: scaleX(1.00) }
    50%  { transform: scaleX(1.05) }
    100% { transform: scaleX(1.00) }
  }
}
